@charset 'utf-8';

@import 'theme/var/colors';
@import 'theme/var/dimensions';
@import 'theme/icons';
@import 'theme/btns';

@import 'base/general';

@import 'components/container';
@import 'components/main';

@import 'components/header';
@import 'components/footer';
@import 'components/navigations';
@import 'components/nav-favorite';
@import 'components/nav-main';
@import 'components/nav-sub';
@import 'components/action-table-listup';
@import 'components/table-listup';
@import 'components/crumb';
@import 'components/content-menu';
@import 'components/pagination';
@import 'components/totop';
@import 'components/login';
