_assets/
_creating/
app/db/*
!app/db/empty
!app/plugins/blog
!app/plugins/mail
!app/plugins/feed
app/webroot/files/*
!app/webroot/files/empty
app/tmp/*
!app/tmp/empty
app/views/pages/
app/webroot/themed/*
!app/webroot/themed/empty
baser/vendors/PEAR/
cake/console/
cake/tests/
app/webroot/sitemap.xml
