.htaccess
app/config/database.php
app/config/install.php
app/db/*
!app/db/empty
app/plugins/uploader/
app/tmp/cache/models/*
!app/tmp/cache/models/empty
app/tmp/cache/persistent/*
!app/tmp/cache/persistent/empty
app/tmp/cache/views/*
!app/tmp/cache/views/empty
app/tmp/csv/
app/tmp/logs/*
!app/tmp/logs/empty
app/views/pages/
app/webroot/files/*
!app/webroot/files/empty
app/webroot/themed/demo/pages/*
!app/webroot/themed/demo/pages/empty
