#
# /.htaccess
#
# 【スマートURLについて】
#	短くスマートなURLを実現する為には、ApacheのRewriteモジュールが必要です。
#	スマートURLの設定は、管理画面のシステム設定より行えます。
#	（例）
#		スマートURLオフ：http://localhost/index.php/contact/index
#		スマートURLオン：http://localhost/contact/index
#
# 【スマートURLの設定に失敗した場合】
#	/.htaccess と /app/webroot/.htaccess に記述されている
#	RewriteBase 設定をサーバー環境に合わせて調整してください。
#	マルチドメインの場合は、マルチドメインの設定フォルダを設定値に
#	付け加えるうまくいく事が多いようです。
#
#	（例）マルチドメインのフォルダが「test」の場合
#		RewriteBase    /test
#
# 【スマートURLを手動でオンにする】
#	■ /.htaccess と /app/webroot/.htaccess にRewrite設定を記述する必要があります。
#	  /.htaccess では次の４行を記述します。
#		RewriteEngine on
#		RewriteBase /
#		RewriteRule ^$ app/webroot/ [L]
#		RewriteRule (.*) app/webroot/$1 [L]
#	■ /app/config/install.php に次の行を追加します。
#		Configure::write('App.baseUrl', '');
#
# 【スマートURLを手動でオフにする】
#	■ /.htaccess と、/app/webroot/.htaccess 内の、次の行で始まる行を全て削除します。
#		RewriteEngine / RewriteBase / RewriteCond / RewriteRule
#	■ /app/config/install.php の次の行を削除します。
#		Configure::write('App.baseUrl', '');
#
# 【動作確認済レンタルサーバー】
#	http://basercms.net/manuals/introductions/2.html
#
RewriteEngine on
RewriteBase /
RewriteRule ^$ app/webroot/ [L]
RewriteRule (.*) app/webroot/$1 [L]