<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
    colors="true"
    bootstrap="tests/bootstrap.php"
    >
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
    </php>
    <testsuites>
        <testsuite name="BaserCore">
            <directory>plugins/baser-core/tests/TestCase</directory>
        </testsuite>
<!--        <testsuite name="BcBlog">-->
<!--            <directory>plugins/bc-blog/tests/TestCase</directory>-->
<!--        </testsuite>-->
<!--        <testsuite name="BcSearchIndex">-->
<!--            <directory>plugins/bc-search-index/tests/TestCase</directory>-->
<!--        </testsuite>-->
    </testsuites>
    <extensions>
        <extension class="Cake\TestSuite\Fixture\PHPUnitExtension"/>
    </extensions>
    <coverage>
      <include>
        <directory suffix=".php">plugins/*/src/</directory>
      </include>
    </coverage>
</phpunit>
