<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" />
                    <action type="Rewrite" url="/" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="false">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" />
                    <action type="Rewrite" url="/app/webroot/{R:1}" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^/app/webroot/(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" pattern="" ignoreCase="false" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="app/webroot/index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>