//
// # ボタン
//
@import '../vender/Font-Awesome/font-awesome';

.bca-btn {

	@mixin btn-common {
		display: inline-block;
		//margin:0 0.6em;
		font-size: 14px;
		font-size: 0.88rem; // 16px × 0.88 = 14.08 ;
		border-radius: 3px;
		padding: 0.9558em 1em 0.76em;
		line-height:1.2;
		border: 1px solid #ccc;
		cursor: pointer;

		color: $color_text_primary;
		text-decoration: none;
		background-image:linear-gradient(rgb(255,255,255) 10%,rgb(244,245,241) 100%);
		transition: all .5s ease-out 0s;

		&::before {
			@extend .#{$fa-css-prefix};
			margin-right: 4px;
			color: $color_text_primary;
		}
		&:hover {
			text-decoration: none;
			color: $color_text_primary;
			background-color: $color_background_menu;
			background-image:linear-gradient(rgb(255,255,255) 100%,rgb(255,255,255) 100%);
		}
	}

	// デフォルトボタン
	@include btn-common;

	// 公開
	&--publish {
		@extend .#{$fa-css-prefix}-play-circle-o;
		@include btn-common;
	}

	// 非公開
	&--unpublish {
		@extend .#{$fa-css-prefix}-pause-circle-o;
		@include btn-common;
	}

	// 確認
	&--preview {
		@extend .#{$fa-css-prefix}-eye;
		@include btn-common;
	}

	// 編集
	&--edit {
		@extend .#{$fa-css-prefix}-pencil;
		@include btn-common;
	}

	// 複製
	&--copy {
		@extend .#{$fa-css-prefix}-copy;
		@include btn-common;
	}

	// 削除
	&--delete {
		@extend .#{$fa-css-prefix}-trash;
		@include btn-common;
	}

	// お気に入り
	&--favorite {
		@extend .#{$fa-css-prefix}-heart;
		@include btn-common;
	}

	// メニューアイテム
	&--menuitem {
		@extend .#{$fa-css-prefix}-angle-right;
		@include btn-common;
	}

	// 追加
	&--add {
		@extend .#{$fa-css-prefix}-plus-circle;
		@include btn-common;
		color: #fff;
		border: none;
		background: $color_primary;
		&::before {
			@extend .#{$fa-css-prefix};
			//font-size: 16px !important;
			color: #fff;
		}
		&:hover {
			color: #fff;
			background: $color_secondary;
		}
	}

	// ヘルプ
	&--help {
		@extend .#{$fa-css-prefix}-life-ring;
		@include btn-common;
	}

	// 制限（鍵)
	&--permission {
		@extend .#{$fa-css-prefix}-lock;
		@include btn-common;
	}

	// HOME
	&--home {
		@extend .#{$fa-css-prefix}-home;
		@include btn-common;
	}

	// HOME
	&--login {
		@include btn-common;
		color: $color_lightest;
		$color_darken: darken($color_primary, 5%);
		border: 1px solid $color_darken;
		background-image: linear-gradient($color_primary 10%, $color_darken 100%);
		&:hover,
		&:focus {
			color: $color_lightest;
			background-image: linear-gradient($color_darken 10%, $color_darken 100%);
		}
	}

	// サイズ
	// ===========================

	// large
	&--large {
		font-size: 1.1rem; // 16px *
		//padding: .5em .8em .4em;
		&::before {
			@extend .#{$fa-css-prefix};
			font-size: 16px !important;
		}
	}

	// small
	&--small {
		font-size:14px;
		font-size: 0.91rem;
		padding: .4em .8em .5em;

		&::before {
			@extend .#{$fa-css-prefix};
			font-size: 16px !important;
		}
	}

	// xsmall
	&--xsmall {
		font-size:12px;
		font-size: 0.78rem;
		padding: .4em .8em .5em;

		&::before {
			@extend .#{$fa-css-prefix};
			font-size: 16px !important;
		}
	}

	// ステータス
	// ===========================

	// プライマリー
	&--primary {
		@include btn-common;
		color: #fff;
		background: $color_primary;
		&::before {
			@extend .#{$fa-css-prefix};
			color: #fff;
		}
		&:hover {
			background: $color_secondary;
		}
	}

	// disabled
	&[disabled] {
		color: #aaa;
		border-color: #ddd;
		//background: #eee;
	}
}
