//
// # アイコン
//
@import '../vender/Font-Awesome/font-awesome';

// ラベルテキスト：デフォルトは非表示
[class*="bca-icon"] .bca-icon-label {
	display: none;
}

.bca-icon {

	@mixin fa-common {
		&::before {
			@extend .#{$fa-css-prefix};
		}
	}

	// 公開
	&--publish {
		@extend .#{$fa-css-prefix}-play-circle-o;
		@include fa-common;
	}

	// 非公開
	&--unpublish {
		@extend .#{$fa-css-prefix}-pause-circle-o;
		@include fa-common;
	}

	// 確認
	&--preview {
		@extend .#{$fa-css-prefix}-eye;
		@include fa-common;
	}

	// 編集
	&--edit {
		@extend .#{$fa-css-prefix}-pencil;
		@include fa-common;
	}

	// 複製
	&--copy {
		@extend .#{$fa-css-prefix}-copy;
		@include fa-common;
	}

	// 削除
	&--delete {
		@extend .#{$fa-css-prefix}-trash;
		@include fa-common;
	}

	// お気に入り
	&--favorite {
		@extend .#{$fa-css-prefix}-heart;
		@include fa-common;
	}

	// メニューアイテム
	&--menuitem {
		@extend .#{$fa-css-prefix}-angle-right;
		@include fa-common;
	}

	// 追加
	&--add {
		@extend .#{$fa-css-prefix}-plus-circle;
		@include fa-common;
	}

	// 制限（鍵)
	&--permission {
		@extend .#{$fa-css-prefix}-lock;
		@include fa-common;
	}

	// ヘルプ
	&--help {
		@extend .#{$fa-css-prefix}-life-ring;
		@include fa-common;
	}

	// 一覧
	&--list {
		@extend .#{$fa-css-prefix}-list-ul;
		@include fa-common;
	}

	// ブログ
	&--blog {
		@extend .#{$fa-css-prefix}-file-text-o;
		@include fa-common;
	}

	// メール
	&--mail {
		@extend .#{$fa-css-prefix}-envelope-o;
		@include fa-common;
	}

	// テーマ
	&--theme {
		@extend .#{$fa-css-prefix}-paint-brush;
		@include fa-common;
	}

	// プラグイン
	&--plugin {
		@extend .#{$fa-css-prefix}-puzzle-piece;
		@include fa-common;
	}

	// 設定
	&--setting {
		@extend .#{$fa-css-prefix}-cog;
		@include fa-common;
	}

	// HOME
	&--home {
		@extend .#{$fa-css-prefix}-home;
		@include fa-common;
	}

	// 矢印　右
	&--arrow-right {
		@extend .#{$fa-css-prefix}-angle-right;
		@include fa-common;
	}
	// 矢印　左
	&--arrow-left {
		@extend .#{$fa-css-prefix}-angle-left;
		@include fa-common;
	}

	// プラス
	&--plus-square {
		@extend .#{$fa-css-prefix}-plus-square;
		@include fa-common;
	}
	// マイナス
	&--minus-square {
		@extend .#{$fa-css-prefix}-minus-square;
		@include fa-common;
	}
}
