/* bca-container
----------------------------------------------- */

///* ==================================================================== */
///*    Wrap
///* ==================================================================== */
//
//
//#Wrap{
//	min-width:960px;
//	background-color:#E8E8E8;
//	padding: 1px 40px 290px 40px;
//	background-repeat: repeat-x;
//}

.bca-container {
	position: relative;
	height: auto;
	display: flex;
	// width: 100%;
	// min-width:960px;
}
