/* ==================================================================== */
/*    Footer
/* ==================================================================== */

//
// TODO: idにスタイルを指定しない
//

/* Footer
----------------------------------------------- */
#Footer{
}
#FooterInner{
	background-image: url(../../img/admin/bg_footer.png);
	background-repeat: repeat-x;
	background-color: #333;
	color: #EEE;
	padding: 40px 30px 60px;
	margin: 0;
	min-width:960px;
}
#FooterInner a{
	color: #BBB;
	text-decoration: none;
}
#FooterInner a:hover{
	color: #EEE;
}

/* FooterLogo
----------------------------------------------- */

#FooterLogo{
	width: 190px;
	float: left;
	padding: 65px 0;
}

/* FooterLink
----------------------------------------------- */

#FooterLink h2{
	margin-bottom:15px;
}

#FooterLink li{
/*	padding-right:30px;*/
	margin:5px 0;
	background: url(../../img/admin/blt_list_2.png) no-repeat left center;
	padding-left:15px;
	line-height:18px;
}
#FooterLink{
	float: left;
	background-image: url(../../img/admin/bg_border_2.png);
	background-repeat: repeat-y;
	padding-left:15px;
}

/* FooterBanner
----------------------------------------------- */

#FooterBanner {
	padding-top:5px;
	margin-bottom:15px;
}
#FooterBanner li {
	text-align:right;
	padding:0px 20px;
}
#FooterBanner li img{
	vertical-align:bottom;
}
#FooterBanner li.lastChild{
   margin-top:7px;
}

/* BaserVersion
----------------------------------------------- */

#BaserVersion {
	padding-right:20px;
	text-align:right;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
	margin-bottom:15px;
}

/* Copyright
----------------------------------------------- */

#Copyright {
	text-align:right;
	font-size:10px;
	padding-right:20px;
}

.bca-footer {
	width:100%;
	min-width:960px;
}
