.contents-body .form-table{
	border: 1px solid #DDD;
	border-collapse: collapse;
	margin-bottom:30px;
	width:100%;
}
.contents-body .form-table th{
	vertical-align:middle;
	text-align: left;
	background-repeat: repeat-x;
	background-color: #EFEFEF;
	padding:5px 10px;
	white-space: nowrap;
	width:20%;
	border: 1px solid #DDD;
}
.contents-body .form-table th a{
	text-decoration:none;
	white-space: nowrap;
}
.contents-body .form-table th a:hover{
	color:#9C0;
}
.contents-body .form-table th img {
	vertical-align:middle;
}
.contents-body .form-table th a {
	line-height: 20px;
}
.contents-body .form-table td{
	padding: 5px 10px;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-top: 1px dotted #DDD;
	border-bottom: 1px dotted #DDD;
	vertical-align: middle;
	background-color:#FFF;
}
.contents-body .form-table td textarea {
	width: 86%;
}
.contents-body .form-table input.full-width {
	width:86%;
}
.contents-body .form-table td img {
	vertical-align: baseline;
	max-width: 100%;
}
.contents-body .form-table .checkbox {
	float:left;
}
.contents-body .form-table .error-message{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.contents-body .form-table input.active,
.contents-body .form-table textarea.active,
.contents-body .form-table select.active {
	background-color:#ffffde;
}
.contents-body .form-table button {
	padding:0px 7px;
	cursor: pointer;
}

.contents-body .form-table th {
    font-size: 12px;
}
