/* ==================================================================== */
/*    Header
/* ==================================================================== */

/* Header
----------------------------------------------- */

#Header {
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
}

/* Logo
----------------------------------------------- */

#Logo{
	padding: 10px 40px;
}

.bca-header {
	hoge: hoge;
}
