/* bca-main
----------------------------------------------- */

//#Contents {
//	margin-left:220px;
//}

///* contents background
//----------------------------------------------- */
//.cbb {
//	margin:1em 0;
//	border:1px solid #DDD;
//	background:#FFF;
//	float: right;
//	overflow: hidden;
//	width: 100%;
//}

/* ==================================================================== */
/*    ContentsBody
/* ==================================================================== */
//
///* ContentsBody
//----------------------------------------------- */
//#ContentsBody{
//	padding: 0 20px 40px;
//}


/* head
----------------------------------------------- */

.contents-body h2 {
	font-size:16px;
	margin-bottom:15px;
	border-left:5px solid #535A62;
	padding-left:12px;
	font-weight: bold;
	line-height: 20px;
	color:#535A62;
}
.contents-body h3 {
	font-size:14px;
	line-height: 18px;
	margin-bottom:15px;
	font-weight: bold;
    border-left:5px double #535A62;
	padding-left:12px;
	color:#535A62;
}
.contents-body h4 {
	font-size:14px;
	line-height: 18px;
	margin-bottom:15px;
	font-weight: bold;
	background: url(../../img/admin/blt_head_h4.png) no-repeat left 6px;
	padding-left:14px;
}
.contents-body h5 {
	font-size:14px;
	line-height: 18px;
	margin-bottom:15px;
	font-weight: bold;
}
.contents-body h6 {
	font-size:14px;
	line-height: 18px;
	margin-bottom:15px;
}
.contents-body h7 {
	font-size:12px;
	line-height: 16px;
	margin-bottom:15px;
}

/* table
----------------------------------------------- */

.contents-body table {
	/*clear:both;*/
	padding: 0;
	margin: 0;
	white-space: normal;
	margin-left:auto;
	margin-right:auto;
}
.contents-body table th {
	padding:8px 8px;
	font-weight:normal;
	font-weight:bold;
}
.contents-body table tr td {
	padding:10px 8px;
	vertical-align:top;
	border:none;
}

/* paragraph
----------------------------------------------- */

.contents-body p {
	margin-bottom:10px;
}
.contents-body p small{
	line-height:14px;
}

/* ==================================================================== */
/*    C L A S S E S
/* ==================================================================== */


/* section
----------------------------------------------- */
.contents-body .section {
	margin-bottom:60px;
	/*clear: both;*/
}
.contents-body .section p {
	margin-bottom:15px;
}


#ContentsBody li img,
#ContentsBody p img {
	vertical-align:middle;
}

.contents-body ul{
	/*margin-bottom:20px;*/
}
.contents-body li {
	padding: 0 20px;
	margin:5px 0;
	background: url(../../img/admin/blt_list_2.png) no-repeat left 2px;
	padding-left:15px;
	line-height: 1.8em;
}
.contents-body .form-table{
	border: 1px solid #DDD;
	border-collapse: collapse;
	margin-bottom:30px;
	width:100%;
}
.contents-body .form-table th{
	vertical-align:middle;
	text-align: left;
	background-repeat: repeat-x;
	background-color: #EFEFEF;
	padding:5px 10px;
	white-space: nowrap;
	width:20%;
	border: 1px solid #DDD;
}
.contents-body .form-table th a{
	text-decoration:none;
	white-space: nowrap;
}
.contents-body .form-table th a:hover{
	color:#9C0;
}
.contents-body .form-table th img {
	vertical-align:middle;
}
.contents-body .form-table th a {
	line-height: 20px;
}
.contents-body .form-table td{
	padding: 5px 10px;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-top: 1px dotted #DDD;
	border-bottom: 1px dotted #DDD;
	vertical-align: middle;
	background-color:#FFF;
}
.contents-body .form-table td textarea {
	width: 86%;
}
.contents-body .form-table input.full-width {
	width:86%;
}
.contents-body .form-table td img {
	vertical-align: baseline;
	max-width: 100%;
}
.contents-body .form-table .checkbox {
	float:left;
}
.contents-body .form-table .error-message{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.contents-body .form-table input.active,
.contents-body .form-table textarea.active,
.contents-body .form-table select.active {
	background-color:#ffffde;
}
.contents-body .form-table button {
	padding:0px 7px;
	cursor: pointer;
}

.contents-body .form-table th {
    font-size: 12px;
}

#AdminUpdaters .contents-body .version{
	font-size: 14px;
}
#AdminUpdaters .contents-body .version strong {
	font-size: 20px;
}

.contents-body .btn-slide-form{
	border:1px solid #CCC;
	text-align: center;
	margin-left:auto;
	margin-right:0;
	padding:0!important;
	/*position: absolute;*/
	margin-top:-61px;
	width:140px;
	font-size:14px;
}
.contents-body li.jstree-closed {
	/*background-color:#F9F9F9;*/
}

.bca-main {
	position: relative;
	flex-basis: 100%;
	&-inner {
		padding: 0 30px 0 30px;
		&::after {
			content: "";
			display: block;
			clear: both;
		}
	}

	// ❗ .contents-body と同じ要素 ❗
	&-body {
		&-header {
			margin-bottom:30px;
			padding:20px 20px;
			background-color:#F4F5F1;
			&-title {
				display: inline-block;
				margin-right:0.5em;
				font-size: 22px;
				font-weight: bold;
				color: $color_secondary;
				line-height:1;
			}
		}

	}
}
