.message {
	color:#F30;
	font-weight:bold;
	margin:20px;
}

#MessageBox .message,
#MessageBox .notice-message,
#BcMessageBox .notice-message{
	color:#5C8A01;
	background: #EBF5E1 url(../../img/admin/icn_info.png) no-repeat 10px 13px;
}

// jQuery.bcUtil.js で使用
#MessageBox .alert-message,
#authMessage,
#AlertMessage,
#BcMessageBox .alert-message,
#UpdateMessage {
	color:#F23561;
	background: #F7E9EC url(../../img/admin/warning.png) no-repeat 10px 13px;
}

/* flashMessage
----------------------------------------------- */
#authMessage,
#flashMessage,
#AlertMessage,
#BcSystemMessage,
#UpdateMessage {
	padding:10px 10px 10px 36px;
	margin:20px 0;
	font-size:16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	font-weight:bold;
}
#BcMessageBox {
	display:none;
}
